@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap'); */

:root{
    --orange:#FF5F49;
    --green:#3f0dca;
    --black:#444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Popins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5;
    overflow: scroll;
    /* scroll-behavior: smooth; */
    /* scroll-padding-top: 7rem; */
}

/* <!-- Entête section --> */
.header{
    padding: 2rem ;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .logo img{
    width:70px;
    height: 45px;
}

/* Menu desktop */
.header .navbar a{
    font-size: 1.4rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

/* Menu mobile */
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* <!-- Home section:::::::::::::: --> */
section{
    padding: 2rem 9%;
}
.home{
    align-items: center;
    padding-top: 1rem;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 55rem !important;
    padding-top:2rem;
}
.home .content{
    flex: 1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.2rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.5rem;
    background: #FFF;
}
.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    counter-reset: #fff;
    margin-left: .5rem;
}
.btn:hover{
    background: var(--green);
    color: #FFF;
}
.btn:hover span{
    color: var(--green);
    background: #FFF;
    margin-left: 1rem;
}

/* <!-- Réalisations Icon section:::::::::::: --> */
.icons-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-top: 0rem;
    padding-bottom: 2rem;
}
.icons-container .icons{
   border: var(--border);
   box-shadow: var(--border);
   border-radius: .5em;
   text-align: center;
   padding: 2.5rem;
}
section:nth-child(event){
    background: #f5f5f5;
}
.icons-container .icons i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
}

/* <!-- Service section:::::: --> */
.services .box-container{
   display: grid;
    grid-template-columns: repeat(3, 1fr); /* crée 3 colonnes de largeur égale */
    grid-gap: 15px; /* définit l'espace entre les boîtes */
}
.services .box-container .box{
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.heading .span{
    text-transform: uppercase;
    color: var(--green);
}
.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}
.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}


/* <!-- About Section:::::::::::::: --> */
.about  .row{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

.about  .row .image{
    flex: 1 1 45rem;
}
.about  .row .image img{
    width: 100%;
    height: 400px;
}
.about  .row .content{
    flex: 1 1 45rem;
}
.about  .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    line-height: 1.8;
}
.about  .row .content p{
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}

/* <!-- Equipes Section ::::::::--> */
.doctors .box-container{
    /* display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 2rem;  */

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* crée 3 colonnes de largeur égale */
    grid-gap: 15px; /* définit l'espace entre les boîtes */
    
}
 .doctors .box-container .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}
.doctors .box-container .box img{
    width: 100%;
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.doctors .box-container .box h3{
    color: var(--black);
    font-size: 1.5rem;
}
.doctors .box-container .box span{
    color: var(--green);
    font-size: 1.rem;
}
.doctors .box-container .box .share{
    padding-top: 2rem;
} 
.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--green);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
}
.doctors .box-container .box .share a:hover{
    background: var(--green);
    color: #FFF;
    box-shadow: var(--box-shadow);
}


/* <!-- booking:::::::::::::::::::: --> */
.book{
    width: 95%;
}
.book .row{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

.book .row .image{
    flex: 1 1 45rem;
}

.book .row .image{
    flex: 1 1 45rem;
}
.book .row .image img{
    width: 100%;
}
.book .row form{
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}
.book .row form h3{
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}
.book .row form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    color: var(--black);
    font-size: 1.6rem;
    text-transform: none;
    padding: 1rem;
}
.book .row form .btn{
    padding: 1rem 4rem;
}

/* <!-- Clients section::::::::::::::::::::::::: --> */
.review .box-container{
     /* display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;  */

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* crée 3 colonnes de largeur égale */
    grid-gap: 15px;  /*définit l'espace entre les boîtes */
     
}
.review .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid #FFF;
}
.review .box-container .box  h3{
    color: #FFF;
    font-size: 2.2rem;
    padding: .5rem 0;
}
.review .box-container .box i{
    color: #fff;
    font-size: 1.5rem;
}
.review .box-container .box  .text{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}
.review .box-container .box::before{
    content: '';
    position: absolute;
    top:-4rem; left: 50%;
    transform: translate(-50%);
    background: var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}


/* <!-- Blogs section starts::::::::::::::: --> */
/* .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 15px;
}
.blogs .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}
.blogs .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
}
.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding-top: 1rem;
}
.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}
.blogs .box-container .box .content .icon a:hover{
    color: var(--green);
}
.blogs .box-container .box .content .icon a i{
    font-size: .5rem;
    color: var(--green);
}
.blogs .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}
.blogs .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}
 */


 /* <!-- Pied de page::::::::::::::::::::: --> */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* crée 3 colonnes de largeur égale */
    grid-gap: 15px; /* définit l'espace entre les boîtes */
    
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--green);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
.footer .credit span{
    color: var(--green);
}



/* :::::::::::::::::::::::::::::::::::::after */
/*  */





/* Responsivitée::::::::::: */

@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }  
    
    /* Section:::::::: */
     /* Section */
     .home .content p{
        font-size: 1.6rem;
    }
}



@media (max-width:768px) {

    /* <!-- Entête section --> */
    #menu-btn{
        display: initial;
    } 

    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #FFF;
        transform: scale(0);  
        opacity:0;
        transform-origin: top right;
        transition: none; 
    }

    .header .navbar.active{
        transform: scale(0);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

    /* <!-- About Section:::::::::::::: --> */
    .about  .row{
        display: block; 
    }

    /* <!-- Service section:::::: --> */
    .doctors .box-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .heading{
        font-size: 3rem;
    }

    /* <!-- booking:::::::::::::::::::: --> */
    .book{
        width: 90%;
    }
  .book .row{
    display: block;
   }
   .book .row form{
    margin-top: 2.2rem;
    padding: 2rem; 
    margin-left: 8%
}


/* <!-- Clients section::::::::::::::::::::::::: --> */
.review .box-container{
    grid-template-columns: repeat(2, 1fr); 
}


      
}




@media (max-width:450px) {

    html{
        font-size: 50%;
    }

    /* <!-- Entête section --> */
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        height: 41rem !important;
        padding-top: 1% !important;
    }

     /* <!-- About Section:::::::::::::: --> */
     .about  .row .content h3{
        font-size: 1.7rem;
    }
    
/* <!-- Equipes Section ::::::::--> */
    .doctors .heading{
        font-size: 3rem;
    }

    /* <!-- Clients section::::::::::::::::::::::::: --> */
.review .box-container{
    grid-template-columns: repeat(1, 1fr); 
}

}


@media (max-width:660px) {  

    /* <!-- Home section:::::::::::::: --> */

    .carousel-inner .item img{
    height: 1rem;
 }

    /* <!-- Service section:::::: --> */
.services .box-container{
    grid-template-columns: 1fr;
}

     /* <!-- Service section:::::: --> */
     .doctors .box-container{
        grid-template-columns: 1fr;
    }
   

     /* <!-- Pied de page::::::::::::::::::::: --> */
.footer .box-container{
    grid-template-columns: repeat(2, 1fr); /* crée 3 colonnes de largeur égale */    
}
}


/*  */
@media (max-width:330px) {

     /* <!-- Pied de page::::::::::::::::::::: --> */
     .footer .box-container{
        grid-template-columns: repeat(1, 1fr); /* crée 3 colonnes de largeur égale */    
    }
}



/*Menu Mobile:::::::::::::::::::  */

.tout{
    padding: 2rem ;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}
#menuToggle
{
    /* visibility: hidden; */
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  
}
.tout .logo{
    padding-left: 85%;
    font-size: 2.5rem;
    color: var(--black);
}
.tout .logo img{
    margin-top: -8%;
    position: absolute;
    width:70px;
    height: 45px;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over thhamburger*/
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Fin Menu Mobile::::::::::::::::::: */
