@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap'); */

:root{
    --orange:#FF5F49;
    --green:#3f0dca;
    --black:#444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Popins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5;
    overflow: scroll;
}





/* Plomberie page:::::::::::::::::::: */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over thhamburger*/
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}



/* <!-- Service section:::::: --> */
.services .box-container{
    display: grid;
     grid-template-columns: repeat(3, 1fr); /* crée 3 colonnes de largeur égale */
     grid-gap: 15px; /* définit l'espace entre les boîtes */
     padding-left: 4rem;
     padding-right: 4rem;
 }
 .services .box-container .box{
     background: #fff;
     border-radius: .5rem;
     box-shadow: var(--box-shadow);
     border: var(--border);
     padding: 2.5rem;
 }
 .heading{
     text-align: center;
     padding-bottom: 2rem;
     text-shadow: var(--text-shadow);
     text-transform: uppercase;
     color: var(--black);
     font-size: 5rem;
     letter-spacing: .4rem;
 }
 .heading .span{
     text-transform: uppercase;
     color: var(--green);
 }
 .services .box-container .box i{
     color: var(--green);
     font-size: 5rem;
     padding-bottom: .5rem;
 }
 .services .box-container .box h3{
     color: var(--black);
     font-size: 2.5rem;
     padding: 1rem 0;
 }
 .services .box-container .box p{
     color: var(--light-color);
     font-size: 1.4rem;
     line-height: 2;
 }

 /* Button::::::::::::::::::::::::::: */
 .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.5rem;
    background: #FFF;
} 
.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    counter-reset: #fff;
    margin-left: .5rem;
}
.btn:hover{
    background: var(--green);
    color: #FFF;
}
.btn:hover span{
    color: var(--green);
    background: #FFF;
    margin-left: 1rem;
}


 /* <!-- Pied de page::::::::::::::::::::: --> */
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* crée 3 colonnes de largeur égale */
    grid-gap: 15px; /* définit l'espace entre les boîtes */
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--green);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
.footer .credit span{
    color: var(--green);
}



/* Responsive:::::::::::::::::: */
@media (max-width:991px) {

    .footer .box-container{
        grid-template-columns: repeat(3, 1fr); /* crée 3 colonnes de largeur égale */

        
    }
}


@media (max-width:768px) {

    /* <!-- Service section:::::: --> */
.services .box-container{
     grid-template-columns: repeat(2, 1fr); /* crée 2 colonnes de largeur égale */
 }
}


@media (max-width:600px) {
    /* <!-- Service section:::::: --> */
   .services .box-container{
    grid-template-columns: repeat(1, 1fr); /* crée 2 colonnes de largeur égale */
}


     /* <!-- Pied de page::::::::::::::::::::: --> */
     .footer .box-container{
        grid-template-columns: repeat(2, 1fr); /* crée 3 colonnes de largeur égale */    
    }
}

@media (max-width:450px) {

     /* <!-- Service section:::::: --> */
    .services .box-container{
        grid-template-columns: repeat(1, 1fr); /* crée 2 colonnes de largeur égale */
}
.heading {
    padding-top: 2rem;
    font-size: 3rem;
}


}
/*  */
@media (max-width:330px) {

    /* <!-- Pied de page::::::::::::::::::::: --> */
    .footer .box-container{
       grid-template-columns: repeat(1, 1fr); /* crée 3 colonnes de largeur égale */    
   }
}